<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <div class="flexcol aData">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "AWAKEN.Nom"}}" />
            </h1>
            <label class="select">
                <span>
                    {{localize "AWAKEN.ATTRIBUTSCOMPETENCES.Competence"}} :
                </span>
                <select name="system.competence">
                    {{selectOptions (getSelect "cmpSpecialisation") selected=systemData.competence localize=true}}
                </select>
            </label>
        </div>
    </header>
</form>